/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    font-family: Nunito; 
    background: #b2bec3;
    font-size: 18px;
}

.vizitka {
    background: white;
    width: 550px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 150px auto;
    padding: 30px;
    position: relative;
}

.nadpis {
    color:#d63031;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
}

.profil-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    position: absolute;
    right: -75px;
    top: -75px;
}

.btn a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn a.twitter {
    background: #1da1f2;
    margin: 30px 0 5px 0;
}

.btn a.facebook {
    background: #3b5998;
}

.btn a.twitter:hover {
    background: #0b7bc1;
}

.btn a.facebook:hover {
    background: #2b406e;
}